<div class="container c1" >
  <div class="component" (click)="select('1', $event)" [class.selected]="selection === '1'" >Component 1</div>
  <div class="component" (click)="select('2', $event)" [class.selected]="selection === '2'" >Component 2</div>
  <div class="component" (click)="select('3', $event)" [class.selected]="selection === '3'" >Component 3</div>
  <div class="component" (click)="select('4', $event)" [class.selected]="selection === '4'" >Component 4</div>
  <div class="component" (click)="select('5', $event)" [class.selected]="selection === '5'" >Component 5</div>
  <div class="component" (click)="select('6', $event)" [class.selected]="selection === '6'" >Component 6</div>
  <div class="component" (click)="select('7', $event)" [class.selected]="selection === '7'" >Component 7</div>
</div>

<div class="container c2" >
  <div class="component" (click)="select('A', $event)" [class.selected]="selection === 'A'" >Component A</div>
  <div class="component" (click)="select('B', $event)" [class.selected]="selection === 'B'" >Component B</div>
  <div class="component" (click)="select('C', $event)" [class.selected]="selection === 'C'" >Component C</div>
  <div class="component" (click)="select('D', $event)" [class.selected]="selection === 'D'" >Component D</div>
  <div class="component" (click)="select('E', $event)" [class.selected]="selection === 'E'" >Component E</div>
  <div class="component" (click)="select('F', $event)" [class.selected]="selection === 'F'" >Component F</div>
  <div class="component" (click)="select('G', $event)" [class.selected]="selection === 'G'" >Component G</div>
</div>